.header {

  .header-box {
    width: 60px;
    margin-right: 20px;
    display: inline-block;
  }

  a {
    text-decoration: none;
  }

  .business-link {
    margin-left: 20px;
    width: 250px;
  }
}