.homePageContainer {
  h1 {
    font-size: 50px;
    text-align: left;
  }

  .link-box {
    margin-right: 10px;
  }

  img {
    height: 50px;
  }

  .inline-block {
    display: inline-block;
  }

}